            .map {position: fixed;
                  width: 100%;
                  height: 100%;
                  left: 0px;
                  top: 0px;
                  right: 0px;
                  bottom: 0px;}
            .map .ol-zoom .ol-zoom-out {
              margin-top: 204px;}
            .map .ol-zoomslider {
              background-color: transparent;
              top: 67px;}

            .map .ol-touch .ol-zoom .ol-zoom-out {
              margin-top: 212px;}
            .map .ol-touch .ol-zoomslider {
              top: 500px;}

            .map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
            .map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
              top: 3px;}
            .map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
            .map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
              top: 232px;}

            .ol-rotate {
                display: none;}
            
            .ol-zoom{
                top: 40px;}
            .ol-control {
                background: #2F0202;
                opacity: 0.8;}
            .ol-control:hover {
                background: #2F0202;
                opacity: 0.8;}
            .ol-control button {
                background: wheat;
                color: #2F0202;}
            .ol-control button:focus, .ol-control button:hover {
                background: white;
                color: #2F0202;}
            .ol-zoomslider-thumb {
                background: wheat;}
            .ol-zoomslider-thumb:focus, .ol-zoomslider-thumb:hover {
                background: white;}
            
            #header {
                position: fixed;
                background: #2F0202;
                width: 100%;
                height: 34px;
                z-index: 1;
                text-indent: 0.5em;
                opacity: 0.8;
                left: 0px;}

            #mouse-position {position: absolute;
                bottom: 0px;
                left: 5px;}
            
            #measure {position: fixed;
                    text-align: center;
                    left: 40px;
                    top: 40px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8}
            #measure:focus, #measure:hover {
                background: white;}
            
            #cancelMeasure {position: fixed;
                    text-align: right;
                    left: 212px;
                    top: 40px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8;
                    display: none;}
            #cancelMeasure:focus, #cancelMeasure:hover {
                background: white;}
            
            #clearMeasure {position: fixed;
                    text-align: right;
                    left: 163px;
                    top: 40px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8;
                    display: none;}
            #clearMeasure:focus, #clearMeasure:hover {
                background: white;}

            #paintAndEdit {position: fixed;
                    text-align: center;
                    left: 40px;
                    top: 78px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8}
            #paintAndEdit:focus, #paintAndEdit:hover {
                background: white;}
      
            #cancelPaint {position: fixed;
                    text-align: right;
                    left: 361px;
                    top: 78px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8;
                    display: none;}
            #cancelPaint:focus, #cancelPaint:hover {
                background: white;}
            
            #cancelEdit {position: fixed;
                    text-align: right;
                    left: 286px;
                    top: 78px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8;
                    display: none;}
            #cancelEdit:focus, #cancelEdit:hover {
                background: white;}
            
            #deletePaint {position: fixed;
                    text-align: right;
                    left: 237px;
                    top: 78px;
                    background: wheat;
                    border-radius: 5px;
                    border-width: 3px;
                    border-color: #2F0202;
                    opacity: 0.8;
                    display: none;}
            #deletePaint:focus, #deletePaint:hover {
                background: white;}

            
            .tooltip {
              position: relative;
              background: rgba(0, 0, 0, 0.5);
              border-radius: 4px;
              color: white;
              padding: 4px 8px;
              opacity: 0.7;
              white-space: nowrap;}
            .tooltip-measure {
              opacity: 1;
              font-weight: bold;}
            .tooltip-static {
              background-color: #ffcc33;
              color: #255625;
              border: 1px solid white;}
            .tooltip-measure:before, .tooltip-static:before {
              border-top: 6px solid rgba(0, 0, 0, 0.5);
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
              content: "";
              position: absolute;
              bottom: -6px;
              margin-left: -7px;
              left: 50%;}
            .tooltip-static:before {
              border-top-color: #ffcc33;}            

            
            .geometryMeasure {
                border-radius: 5px;
                border: 3px solid #2F0202;
                position: fixed;
                top: 40px;
                left: 89px;
                font: 14px Tahoma;
                opacity: 0.8;
                display: none;}
            .geometryMeasure div {
                float: left;}
            .geometryMeasure input {
                position: absolute;
                left: -9999px;}
            .geometryMeasure label {
                display: block;
                margin: 0 0 0 -1px;
                padding: 2px 4px;
                background: white;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
                cursor: pointer;
                opacity: 0.8;}
            .geometryMeasure label:focus, .geometryMeasure label:hover{
                background: wheat;}
            .geometryMeasure input:checked + label {
                background: wheat;
                box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);}
            .geometryMeasure div:first-child label {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;}
            .geometryMeasure div:last-child label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;}
            
            .paintOrEdit {
                border-radius: 5px;
                border: 3px solid #2F0202;
                position: fixed;
                top: 78px;
                left: 89px;
                font: 14px Tahoma;
                opacity: 0.8;
                display: none;}
            .paintOrEdit div {
                float: left;}
            .paintOrEdit input {
                position: absolute;
                left: -9999px;}
            .paintOrEdit label {
                display: block;
                margin: 0 0 0 -1px;
                padding: 2px 4px;
                background: white;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
                cursor: pointer;
                opacity: 0.8;}
            .paintOrEdit label:focus, .paintOrEdit label:hover{
                background: wheat;}
            .paintOrEdit input:checked + label {
                background: wheat;
                box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);}
            .paintOrEdit div:first-child label {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;}
            .paintOrEdit div:last-child label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;}
            

            .geometryPaint {
                border-radius: 5px;
                border: 3px solid #2F0202;
                position: fixed;
                top: 78px;
                left: 163px;
                font: 14px Tahoma;
                opacity: 0.8;
                display: none;}
            .geometryPaint div {
                float: left;}
            .geometryPaint input {
                position: absolute;
                left: -9999px;}
            .geometryPaint label {
                display: block;
                margin: 0 0 0 -1px;
                padding: 2px 4px;
                background: white;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
                cursor: pointer;
                opacity: 0.8;}
            .geometryPaint label:focus, .geometryPaint label:hover{
                background: wheat;}
            .geometryPaint input:checked + label {
                background: wheat;
                box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);}
            .geometryPaint div:first-child label {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;}
            .geometryPaint div:last-child label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;}
            
            .changeOrMoving {
                border-radius: 5px;
                border: 3px solid #2F0202;
                position: fixed;
                top: 78px;
                left: 163px;
                font: 14px Tahoma;
                opacity: 0.8;
                display: none;}
            .changeOrMoving div {
                float: left;}
            .changeOrMoving input {
                position: absolute;
                left: -9999px;}
            .changeOrMoving label {
                display: block;
                margin: 0 0 0 -1px;
                padding: 2px 4px;
                background: white;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
                cursor: pointer;
                opacity: 0.8;}
            .changeOrMoving label:focus, .changeOrMoving label:hover{
                background: wheat;}
            .changeOrMoving input:checked + label {
                background: wheat;
                box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);}
            .changeOrMoving div:first-child label {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;}
            .changeOrMoving div:last-child label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;}
            